<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <header>
        <h2>Connexion</h2>
    </header>
    <main>
            <h2>Connexion</h2>
            <form>
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required placeholder="Ecrivez votre nom d'utilisateur">
                <br>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required placeholder="Ecrivez votre mot de passe">
                <br>
                <button type="submit">Se connecter</button>
            </form>
    </main>
</body>
</html>